/* App Component CSS */

:host {
    display: block;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
  }
  
  .header {
    background-color: #2196f3;
    color: white;
    z-index: 2;
  }
  
  .app-title {
    font-size: 1.5em;
  }
  
  .footer {
    background-color: #2196f3;
    color: white;
    z-index: 2;
    text-align: center;
  }
  
  .footer-text {
    font-size: 0.8em;
  }
  
  .app-body {
    height: calc(100% - 128px); /* Adjust based on your header height */
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* overflow: hidden; */
  }
  
  .client-list-card,
  .calendar-card {
    margin: 16px;
  }
  
  .client-list-card {
    min-height: 300px; /* Adjust based on content */
  }
  
  .sidenav {
    width: 250px;
  }
  
  .main-content {
    padding: 16px;
  }
  